<div class="container">
        <mat-card class="admin-card">
                <mat-card-header>
                    <mat-card-title>Szczegóły rezerwacji</mat-card-title>
                </mat-card-header>
                <mat-card-content>
                <mat-list>
                    <mat-list-item>
                        <h4 mat-line>Usługa:</h4>
                        <p mat-line>{{service?.name}}</p>
                    </mat-list-item>
                    <mat-list-item class="clickable" [routerLink]="['/admin/workers', worker.key]">
                            <h4 mat-line>Pracownik:</h4>
                            <p mat-line>{{worker?.name}}</p>
                    </mat-list-item>
                    <mat-list-item >
                            <h4 mat-line>Data:</h4>
                            <p mat-line>Dzień: {{booking?.date.toDate() | date: 'd.MM.yyyy'}}</p>
                            <p mat-line>Godzina: {{booking?.date.toDate() | date: 'HH:mm'}}-{{booking?.endDate.toDate() | date: 'HH:mm'}}</p>
                    </mat-list-item>
                    <h3 mat-subheader>Dane klienta</h3>
                    <mat-list-item >
                            <h4 mat-line>Imię:</h4>
                            <p mat-line>{{booking?.customer.name}}</p>
                    </mat-list-item>
                    <mat-list-item >
                            <h4 mat-line>E-mail:</h4>
                            <p mat-line>{{booking?.customer.email}}</p>
                    </mat-list-item>
                    <mat-list-item>
                            <h4 mat-line>Nr telefonu:</h4>
                            <p mat-line>{{booking?.customer.phone}}</p>
                    </mat-list-item>
                </mat-list>
            </mat-card-content>
            <mat-card-actions>
                <button (click)="deleteBooking()" mat-raised-button color="warn">usuń rezerwację</button>
            </mat-card-actions>
            </mat-card>
    </div>