<div class="container">
    <mat-card class="admin-card">
            <mat-card-header>
                <mat-card-title>Lista nadchodzących rezerwacji</mat-card-title>
                <mat-card-subtitle>Naciśnij, aby zobaczyć szczegóły</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
            <mat-list>
                <div *ngFor="let booking of bookings$ | async" [routerLink]="['/admin/bookings', booking.key]">
                    <mat-list-item class="clickable">
                        <p mat-line>Data: {{booking?.date.toDate() | date: 'd.MM.yyyy HH:mm'}}-{{booking?.endDate.toDate() | date: 'HH:mm'}}</p>
                        <p mat-line>Usługa: {{booking?.service | service | async}}</p>
                        <p mat-line>Klient: {{booking?.customer.email}}</p>
                    </mat-list-item>
                    <mat-divider></mat-divider>
                </div>
            </mat-list>
        </mat-card-content>
        </mat-card>
        <mat-card *ngIf="userRoles.isAdmin" class="admin-card">
            <mat-card-header>
                <mat-card-title>Lista minionych rezerwacji</mat-card-title>
                <mat-card-subtitle>Naciśnij, aby zobaczyć szczegóły</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
            <mat-list>
                <div *ngFor="let booking of pastBookings$ | async" [routerLink]="['/admin/bookings', booking.key]">
                    <mat-list-item class="clickable">
                        <p mat-line>Data: {{booking?.date.toDate() | date: 'd.MM.yyyy HH:mm'}}-{{booking?.endDate.toDate() | date: 'HH:mm'}}</p>
                        <p mat-line>Usługa: {{booking?.service | service | async}}</p>
                        <p mat-line>Klient: {{booking?.customer.email}}</p>
                    </mat-list-item>
                    <mat-divider></mat-divider>
                </div>
            </mat-list>
        </mat-card-content>
        </mat-card>
</div>