<div class="container">
    <mat-card class="example-card">
            <mat-card-header>
                <mat-card-title>Lista rezerwacji</mat-card-title>
                <mat-card-subtitle>Naciśnij, aby zobaczyć szczegóły</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
            <mat-list>
                <div *ngFor="let booking of bookings$ | async" [routerLink]="['/admin/bookings', booking.key]">
                    <mat-list-item >Data: {{booking?.date.toDate() | date: 'd.MM.yyyy HH:mm'}}-{{booking?.endDate.toDate() | date: 'HH:mm'}} <br>
                        Klient: {{booking?.customer.name}}</mat-list-item>
                    <mat-divider></mat-divider>
                </div>
            </mat-list>
        </mat-card-content>
        </mat-card>
</div>
<!-- <span (click)="deleteBooking(booking.key)">usuń</span> -->