<form [formGroup]="workerForm" (submit)="addWorker()">
    <mat-form-field class="form-field">
        <input matInput formControlName="name" type="text" placeholder="imię pracownika">
        <mat-error *ngIf="workerForm.get('name').hasError('required')">Pole wymagane</mat-error>
        <mat-error *ngIf="workerForm.get('name').hasError('minlength')">Musi zawierać co najmniej 2 znaki</mat-error>
    </mat-form-field>
    <mat-form-field class="form-field">
        <textarea matInput formControlName="description" type="number" placeholder="opis"></textarea>
    </mat-form-field>
    <mat-form-field class="form-field">
        <input matInput formControlName="image" type="string" placeholder="url do zdjęcia">
        <mat-hint>Jeśli nie podasz, wyświetli się inicjał</mat-hint>
    </mat-form-field>
    <h3 class="form-header">Jakie usługi świadczy pracownik</h3>
    <form #pickServicesForm="ngForm">
        <div *ngFor="let service of services" for="services" class="form-field">
            <mat-checkbox ngModel name={{service?.key}} [ngModel]="worker?.services[service.key]">{{service.name}}</mat-checkbox>
        </div>
    </form>
    <h3 class="form-header">Godziny pracy (format: HH:MM-HH:MM)</h3>
    <div formGroupName="workHours">
        <mat-form-field *ngFor="let element of ['niedziela', 'poniedziałek','wtorek','środa','czwartek','piątek','sobota']; let i = index" for="workHours" class="form-field--small">
            <input matInput formControlName={{i}} type="string" placeholder={{element}}>
        </mat-form-field>
    </div>
</form>