<div class="container">
    <mat-card class="card">
            <mat-card-header>
                <mat-card-title>Zaloguj się</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <form #loginForm="ngForm" (ngSubmit)="logIn(loginForm)" class="form">
                    <mat-form-field class="form__input">
                        <input matInput ngModel name="login" type="email" placeholder="adres email">
                    </mat-form-field>
                    <mat-form-field class="form__input">
                        <input matInput ngModel name="password" type="password" placeholder="hasło">
                    </mat-form-field>
                    <div class="form__line">
                        <button type="submit" mat-raised-button color="primary">zaloguj</button>
                        <button [routerLink]="['']" mat-raised-button>wróć</button>
                        <button [routerLink]="['/register']" mat-raised-button>zarejestruj</button>
                    </div>
                </form>
        </mat-card-content>
        </mat-card>
</div>