<div class="container">
    <mat-card class="card">
            <mat-card-header>
                <mat-card-title>Zarejestruj się</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <form #registerForm="ngForm" (ngSubmit)="register(registerForm)" class="form">
                    <mat-form-field class="form__input">
                        <input matInput ngModel name="login" type="email" placeholder="adres email">
                    </mat-form-field>
                    <mat-form-field class="form__input">
                        <input matInput ngModel name="password" type="password" placeholder="hasło">
                    </mat-form-field>
                    <mat-form-field class="form__input">
                        <input matInput ngModel name="password2" type="password" placeholder="powtórz hasło">
                    </mat-form-field>
                    <div class="form__line">
                        <button type="submit" mat-raised-button>zarejestruj</button>
                        <button [routerLink]="['/login']" mat-raised-button>wróć</button>
                    </div>
                </form>
        </mat-card-content>
        </mat-card>
</div>