.navigation
    display: flex
    justify-content: flex-end
    height: 40px
    padding: 10px 0
    background-color: #ddd

    &__link
        display: flex
        justify-content: center
        list-style: none
        flex-basis: 25%