@import './../../../assets/styles/mixins.sass'
@import './../../../assets/styles/variables.sass'
    
.collection
    display: flex
    flex-wrap: wrap
    justify-content: center

    &-element
        overflow: hidden
        display: flex
        +size($collection__element-size, $collection__element-size)
        margin: .75vw
        margin-top: 10px
        border-radius: 50%
        +center

        &__image
            +size(100%, 100%)
            cursor: pointer
            transition: .3s

            &:hover
                +size(110%, 110%)
                filter: contrast(120%)

        &__title
            text-align: center
            width: $collection__element-size

.chosen
    border: 3px solid green

@media (orientation: landscape)
    .collection
        &-element
            +size($collection__element-size-landscape, $collection__element-size-landscape)

@media (orientation: landscape) and (min-width: 800px)
    .collection
        &-element
            +size($collection__element-size-landscape-800px, $collection__element-size-landscape-800px)

            &__title
                width: $collection__element-size-landscape-800px

@media (orientation: portrait) and (min-width: 700px)
    .collection
        &-element
            +size($collection__element-size-portrait, $collection__element-size-portrait)

            &__title
                font-size: 20px
                width: $collection__element-size-portrait    

@media (min-width: 1400px)
    .collection
        width: 100%

        &-element
            +size(8vw, 8vw)
            margin-bottom: 0
            border: 5px solid #222

            &__title
                width: 100%
                color: white
    
    .chosen
        border: 6px solid white

.unchosen
    filter: grayscale(100%)