@import './../../../assets/styles/mixins.sass'
@import './../../../assets/styles/variables.sass'
    
.collection
    display: flex
    flex-wrap: wrap
    justify-content: center

    &-element
        overflow: hidden
        display: flex
        +size($collection__element-size, $collection__element-size)
        margin: .75vw
        margin-top: 10px
        border-radius: 50%

        &__image
            +size($collection__element-size, $collection__element-size)
            cursor: pointer

        &__title
            display: flex
            justify-content: center
            text-align: center
            width: $collection__element-size

.unchosen
    filter: grayscale(100%)

.chosen
    border: 3px solid green

@media (orientation: landscape)
    .collection
        &-element
            +size($collection__element-size-landscape, $collection__element-size-landscape)
        
            &__image
                +size($collection__element-size-landscape, $collection__element-size-landscape)

            &__title
                width: $collection__element-size-landscape

@media (orientation: landscape) and (min-width: 800px)
    .collection
        &-element
            +size($collection__element-size-landscape-800px, $collection__element-size-landscape-800px)
        
            &__image
                +size($collection__element-size-landscape-800px, $collection__element-size-landscape-800px)

            &__title
                width: $collection__element-size-landscape-800px

@media (orientation: portrait) and (min-width: 700px)
    .collection
        &-element
            +size($collection__element-size-portrait, $collection__element-size-portrait)
        
            &__image
                +size($collection__element-size-portrait, $collection__element-size-portrait)

            &__title
                font-size: 20px
                width: $collection__element-size-portrait    

// @media (min-width: 1700px)
//     .collection
//         width: 20vw
//         &-element
//             +size(8vw, 8vw)

//             &__image, &__title
//                 +size(8vw, 8vw)