@import './../../../assets/styles/mixins.sass'
@import './../../../assets/styles/variables.sass'
    
.collection
    display: flex
    flex-wrap: wrap
    justify-content: center

    &-element
        overflow: hidden
        display: flex
        +size($collection__element-size, $collection__element-size)
        margin: .75vw
        border-radius: 50%

        &--worker
            border-radius: 50%

        &__image
            +size($collection__element-size, $collection__element-size)
            cursor: pointer

        &__title
            display: flex
            justify-content: center
            text-align: center
            width: $collection__element-size

.unchosen
    filter: grayscale(100%)

.chosen
    border: 3px solid green