<nav>
    <ul *ngIf="userRoles.isAdmin" class="admin-navigation">
        <li class="admin-navigation__link" [routerLink]="['users']">Profile</li>
        <li class="admin-navigation__link" [routerLink]="['bookings']">Rezerwacje</li>
        <li class="admin-navigation__link" [routerLink]="['workers']">Pracownicy</li>
        <li class="admin-navigation__link" [routerLink]="['services']">Usługi</li>
    </ul>
    <ul *ngIf="userRoles.isWorker" class="admin-navigation">
        <li class="admin-navigation__link admin-navigation__link--worker" [routerLink]="['bookings']">Twoje rezerwacje</li>
        <li class="admin-navigation__link admin-navigation__link--worker" [routerLink]="['workers', userRoles.workerKey, 'edit']">Twoje dane</li>
    </ul>
</nav>
<mat-sidenav-container class="admin-wrapper">
    <mat-sidenav class="admin-sidebar" mode="side" opened>
        <mat-nav-list *ngIf="userRoles.isAdmin">
            <h4 class="navigation__subheader" mat-list-item>Rezerwacje</h4>
            <a mat-list-item [routerLink]="['bookings/current']">Nadchodzące</a>
            <a mat-list-item [routerLink]="['bookings/archive']">Archiwum</a>
            <mat-divider></mat-divider>
            <h4 class="navigation__subheader" mat-list-item>Pracownicy</h4>
            <a mat-list-item [routerLink]="['workers']">Lista pracowników</a>
            <a mat-list-item [routerLink]="['workers/add']">Dodaj pracownika</a>
            <mat-divider></mat-divider>
            <h4 class="navigation__subheader" mat-list-item>Usługi</h4>
            <a mat-list-item [routerLink]="['services']">Lista usług</a>
            <a mat-list-item [routerLink]="['services/add']">Dodaj usługę</a>
            <mat-divider></mat-divider>
            <h4 class="navigation__subheader" mat-list-item>Użytkownicy</h4>
            <a mat-list-item [routerLink]="['users']">Lista użytkowników</a>
        </mat-nav-list>
        <mat-nav-list *ngIf="userRoles.isWorker">
            <h4 class="navigation__subheader" mat-list-item>Pracownik</h4>
            <a mat-list-item [routerLink]="['bookings']">Lista rezerwacji</a>
            <a mat-list-item [routerLink]="['workers', userRoles.workerKey, 'edit']">Twoje dane</a>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>