.container
    background-image: url(../../assets/images/backgrounds/greek-vase.png)
    min-height: calc(100vh - 30px)

.navigation
    display: flex
    justify-content: flex-end
    margin: 10px 0

    &__link
        display: flex
        justify-content: center
        list-style: none
        flex-basis: 25%