.container
    display: flex
    justify-content: center
    margin-bottom: 20px

.days
    display: flex
    justify-content: flex-start
    flex-wrap: wrap
    
    .day
        display: flex
        justify-content: center
        align-items: center
        height: 12vw
        width: 12vw
        border-radius: 50%
        background-color: #ccc
        margin: 3px

        &--empty
            height: 12vw
            width: 12vw

        &--chosen
            background-color: green
            color: white