@import './../../../../assets/styles/mixins.sass'
@import './../../../../assets/styles/variables.sass'
    
.container
    display: flex
    justify-content: center
    margin-bottom: 20px


.days
    display: grid
    grid-template-columns: repeat(7, 1fr)
    grid-template-rows: repeat(auto-fill, 1fr)
    
    &__day
        display: flex
        justify-content: center
        align-items: center
        +size($day-size, $day-size)
        border-radius: 50%
        background-color: #f5f5f5
        border: 1px dashed gray
        margin: 3px
        transition: .3s

        &:hover
            font-size: 150%
            border: solid black 4px

        &--empty
            background-color: none

        &--chosen
            background-color: green
            border: none
            color: white
        
        &--off
            background-color: #ddd
            color: gray


@media (orientation: landscape)
    .days
        width: calc((#{$day-size-landscape}) * 8)
    
        &__day
            +size($day-size-landscape, $day-size-landscape)

@media (min-width: 800px)
    .days
        &__day
            font-size: 18px

@media (orientation: portrait) and (min-width: 700px)
    .days
        &__day
            font-size: 24px

@media (min-width: 1400px)
    .days
        width: 100%

        &__day
            +size(40px, 40px)
            background-color: #fff
            margin: 2px
            border: 0
            cursor: pointer

            &--chosen
                background-color: green
                color: white

            &--off
                background-color: #ccc
                color: gray

@media (min-width: 1700px)

    .days
        &__day
            +size(50px, 50px)
            margin: 3px
