<div class="collection">
    <mat-progress-spinner *ngIf="showSpinner" class="spinner" mode="indeterminate" color="primary"></mat-progress-spinner>
    <div *ngFor="let element of elements | async" class="element-container">
        <div [ngClass]="{'unchosen': type == 'employees' && element.key != booking.worker && booking.worker != null
        || type == 'services' && element.key != booking.service && booking.service !=null,
        'chosen': type == 'employees' && element.key == booking.worker || type == 'services' && element.key == booking.service }"
        class="collection-element" (click)="pickElement(element)">
            <img *ngIf="element.image" class="collection-element__image" src="{{element.image}}" alt={{element.name}}>
            <p *ngIf="!element.image" class="collection-element__initial">{{element.name | slice:0:1}}</p>
        </div>
        <p class="collection-element__title">{{element.name}}</p>
    </div>
</div>