.container
    display: flex
    flex-wrap: wrap
    justify-content: center

.user-card
    width: 90vw
    margin: 10px 0

.mat-list-item
    cursor: pointer


@media (min-width: 700px)
    .user-card
        width: 600px

@media (min-width: 1400px)
    .user-card
        width: 600px
        margin: 10px