<div class="container">
    <mat-card class="user-card">
        <mat-card-header>
            <mat-card-title>Twoje dane</mat-card-title>
        </mat-card-header>
        <mat-card-content>
        <mat-list>
            <mat-list-item >
                <h4 mat-line>Login:</h4>
                <p mat-line>{{user?.email}}</p>
            </mat-list-item>
            <mat-list-item >
                <h4 mat-line>Imię:</h4>
                <p mat-line>{{user?.name}}</p>
            </mat-list-item>
            <mat-list-item >
                <h4 mat-line>Numer telefonu:</h4>
                <p mat-line>{{user?.phone}}</p>
            </mat-list-item>
        </mat-list>
        </mat-card-content>
        <mat-card-actions>
            <!-- <button (click)="deleteUser()" mat-raised-button color="warn">usuń</button> -->
        </mat-card-actions>
    </mat-card>
    <mat-card class="user-card">
        <mat-card-header>
            <mat-card-title>Twoje rezerwacje</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <div *ngFor="let booking of bookings$">
                <mat-list-item >
                    <p mat-line>{{booking?.date.toDate() | date: 'd.MM.yyyy HH:mm'}}</p>
                    <p mat-line>{{booking?.service | service | async}}</p>
                </mat-list-item>
                <mat-divider></mat-divider>
            </div>
        </mat-card-content>
    </mat-card>
</div>
