.form
    display: flex
    flex-wrap: wrap
    justify-content: center
    
@media (min-width: 1400px)
    .form-field__placeholder
            color: white
    
    .form-field input
        color: white