<div id="reservation-form" class="reservation-section">
    <h2 class="title">Uzupełnij dane</h2>
    <mat-card class="card--borderless">
            <mat-card-content>
                <form #reservationForm="ngForm" (ngSubmit)="onSubmit(reservationForm)" class="form">
                    <mat-form-field class="form-field">
                        <input matInput [(ngModel)]="form.name" #name="ngModel" name="name" type="text" required minlength="2">
                        <mat-placeholder class="form-field__placeholder">imię</mat-placeholder>
                        <mat-error *ngIf="name.hasError('required')" class="form-field__error">Pole jest wymagane</mat-error>
                        <mat-error *ngIf="name.hasError('minlength')" class="form-field__error">Imię jest za krótkie</mat-error>
                    </mat-form-field>
                    <mat-form-field class="form-field">
                        <input matInput [(ngModel)]="form.email" #email="ngModel" name="email" type="email" required pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$">
                        <mat-placeholder class="form-field__placeholder">email</mat-placeholder>
                        <mat-error *ngIf="email.hasError('required')" class="form-field__error">Pole jest wymagane</mat-error>
                        <mat-error *ngIf="email.hasError('pattern')" class="form-field__error">Podaj poprawny email</mat-error>
                    </mat-form-field>
                    <mat-form-field class="form-field">
                        <input matInput [(ngModel)]="form.phone" #phone="ngModel" name="phone" type="text" pattern="[0-9]+" minlength="7">
                        <mat-placeholder class="form-field__placeholder">numer telefonu</mat-placeholder>
                        <mat-error *ngIf="phone.hasError('required')" class="form-field__error">Pole jest wymagane</mat-error>
                        <mat-error *ngIf="phone.hasError('minlength')" class="form-field__error">Wpisz min. 7 cyfr</mat-error>
                        <mat-error *ngIf="phone.hasError('pattern')" class="form-field__error">Litery są niedozwolone</mat-error>
                    </mat-form-field>
                    <div class="form-field">
                        <button type="submit" [disabled]="reservationForm.invalid" mat-raised-button>zatwierdź</button>
                    </div>
                </form>
        </mat-card-content> 
        </mat-card>
</div>