.slots
    display: flex
    flex-wrap: wrap

    .slot
        display: flex
        margin: 4px
        padding: 6px 7px
        background-color: #ccc
        border-radius: 6px

        &--occupied
            background-color: red
        
        &--unable
            background-color: yellow

        &--chosen
            background-color: green
            color: white