<p  id="reservation-hour">Tego dnia {{workers[this.booking.worker].name}} pracuje w godzinach: {{workers[this.booking.worker].workhours[day.getDay()]}}</p>
<p *ngIf="workDay == null">Niestety, pracownik ma wolne</p>
<div class="slots">
  <div class='slot' [ngClass]="{'slot--occupied': slot.getMilliseconds() === 1,
  'slot--unable': slot.getMilliseconds() === 3,
  'slot--chosen': slot >= chosenHour && slot < booking.endDate && slot.getMilliseconds() === 0}" *ngFor="let slot of hourSlots" (click)="pickHour(slot)">
    <p class='slot__title'>{{slot | date: 'HH:mm'}}</p>
  </div>
</div>

