.container
    display: flex
    justify-content: center
    margin-bottom: 20px
    
.slots
    display: flex
    flex-wrap: wrap

    .slot
        display: flex
        margin: 4px 3px
        padding: 6px 7px
        background-color: #f5f5f5
        border: 1px dashed gray
        border-radius: 6px

        &--occupied
            background-color: red
            border: none
        
        &--unable
            background-color: orange
            border: none

        &--chosen
            background-color: green
            color: white
            border: none