$progress-bar-height: 18vw
$navigation-bar-height: 40px
$collection__element-size: 22vw
$day-size: 12vw

$collection__element-size-landscape: 25vh
$collection__element-size-landscape-800px: 22vh
$collection__element-size-portrait: 17vw
$progress-bar-height-800px: 10vw
$day-size-landscape: 13vh