@import '../../../assets/styles/mixins'
@import '../../../assets/styles/variables'
    
.progress-bar
    display: flex
    flex-wrap: wrap
    background-color: white
    justify-content: space-evenly
    align-items: center
    height: $progress-bar-height
    margin: 10px 0

    &__circle
        +size(14vw, 14vw)
        background-color: lightgray
        border-radius: 50%
        display: flex
        color: white
        font-size: 20px
        +center
        transition: 1s
        cursor: pointer

.done
    background-color: green

.pending
    background-color: orange