<div class="progress-bar">
    <a href="#reservation-services"><div [ngClass]="{'done': !(booking.service == null), 'pending': booking.service == null}" class="progress-bar__circle"><i class="im im-store"></i></div></a>
    <a href="#reservation-workers"><div [ngClass]="{'pending': !(booking.service == null) && booking.worker == null, 'done': !(booking.worker == null)}" class="progress-bar__circle"><i class="im im-user-settings"></i></div></a>
    <a href="#reservation-day"><div [ngClass]="{'pending': !(booking.worker == null)  && booking.date == null, 'done': !(booking.endDate == null)}" class="progress-bar__circle"><i class="im im-date-o"></i></div></a>
    <a href="#reservation-hour"><div [ngClass]="{'pending': !(booking.date == null) && (booking.customer.phone == ''), 'done': !(booking.customer.phone == '')}" class="progress-bar__circle"><i class="im im-data-validate"></i></div></a>
    <a href="#reservation-summary"><div [ngClass]="{'pending': !(booking.customer.phone == '')}" class="progress-bar__circle"><i class="im im-task-o"></i></div></a>
</div>
